<div class='container'>
	<article class='panel is-info'>
		<p class='panel-heading has-text-centered'>
			Typing Challenge
		</p>

		<div class='control' style='text-align: center;'>
			<label class='radio'>
				<input
						value='practise'
						(change)='radioChangeModeHandler($event.target.value)'
						type='radio'
						name='answer'
						#value
						checked>
				Practise
			</label>
			<label class='radio'>
				<input
						value='challenge'
						(change)='radioChangeModeHandler($event.target.value)'
						type='radio'
						name='answer'
						#value>
				Challenge
			</label>
		</div>

		<p class='has-text-centered tags has-addons'>
			<span class='container'>
				<span
						*ngFor='let word of template'
						class='tag is-white is-large'
						style='padding: 0 0.25em;'>
					<span
							*ngFor='let char of word'
							[style.color]='char.color'
							style='font-weight: bold;'>
							{{ char.char }}
					</span>
				</span>
			</span>
		</p>

		<div class='field'>
			<input
					type='text'
					class='input'
					(input)='onTyping($event.target.value)'
					(keydown.backspace)='countMistakes()'>
		</div>

		<div 
				*ngIf='showSuccess'
				class='box has-text-centered'>
			<h1
					class='title'
					style='color: green;'>Success!</h1>
		</div>
		<div
				*ngIf='showMistakes'
				class='box has-text-centered'>
			<h1
					class='title'
					style='color: red;'>Mistakes: {{ mistakes }}</h1>
		</div>


	</article>
</div>
